DB_USER=postgres    #Имя пользователя базы данных 
DB_PASSWORD=postgres    #Пароль пользователя базы данных
DB_NAME=mydatabase  #Имя базы данных
DB_PORT=5432      #Порт базы данных
DB_HOST=db #Если контейнеры в одной сети, то можно использовать имя сервиса из docker-compose, иначе адрес хоста

#Настройки SQLAlchemy
APP_CONFIG__DB__ECHO=1 #Логирование SQL запросов. 0 - выкл, 1 - вкл. По умолчанию 0
APP_CONFIG__DB__ECHO_POOL=1 #Логирование соединений пула. 0 - выкл, 1 - вкл. По умолчанию 0
APP_CONFIG__DB__POOL_SIZE=50    #Максимальное количество соединений в пуле. По умолчанию 10
APP_CONFIG__DB__MAX_OVERFLOW=10 #Максимальное количество соединений сверх pool_size. По умолчанию 2
APP_CONFIG__DB__URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}